 {% extends '@layouts/base.twig' %}

{%
    set scope = {
        slides: [
            {
                desktopImage: asset('assets/imgs/slide-desktop-1x.png'),
                mobileImage: asset('assets/imgs/slide-mobile-1x.png'),
                title: 'Проектируем<br>и строим загородные дома',
                text: 'Строим дома "под ключ": от этапа проектирования и до финишной отделки помещений',
            },
            {
                desktopImage: asset('assets/imgs/slide-desktop-1x.png'),
                mobileImage: asset('assets/imgs/slide-mobile-1x.png'),
                title: 'Quis aute iure reprehenderit in voluptate.',
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ',
            },
            {
                desktopImage: asset('assets/imgs/slide-desktop-1x.png'),
                mobileImage: asset('assets/imgs/slide-mobile-1x.png'),
                title: 'Ut enim ad minim veniam, quis nostrum exercitationem.',
                text: 'Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
            },
        ],
        features_range: [
            {
                icon: asset('assets/icons/house.svg'),
                header: "57 домов",
                description: "спроектировали и построили под ключ",
            },
            {
                icon: asset('assets/icons/calender.svg'),
                header: "14 лет",
                description: "мы на рынке загородного строительства",
            },
        ],
    }
%}

 {% block main %}
    <div class="Container">
        <div class="Layout__section Layout__section--slider">
            {% include '@components/slider/slider.twig' with {
                items: scope.slides,
            } %}
        </div>
        <div class="Layout__section Layout__section--featured">
            {% include '@components/features/features.twig' with {
                features: scope.features_range,
            } %}
        </div>
    </div>
 {% endblock %}