@import "./media.scss";
@import "./uikit.scss";
@import "../layouts/base.scss";

// Variables 
$color-black: #000;
$color-grey: #666;
$color-grey--light: #D8D8D8;
$color-green: #029F59;
$color-green--dark: #017F47;
$color-green--dirty: #254741;
$test-color: #5f6141;

// Functions
@function toRem($size) {
    @return $size / 16px * 1rem;
}
@function toEm($size) {
    @return $size / 16px * 1em;
}

// Elements
@import "./elements.scss";

// Components
@import "../components/header/header.scss";
@import "../components/site-nav/site-nav.scss";
@import "../components/contacts/contacts.scss";

h1 {
    text-decoration: underline $test-color;
    margin-left: 1rem;
    color: green;
}